@import '../mixins/mixins';
@import '../variables/variable';

/*=========================================================
                    Copyright css Start
=========================================================*/
#copyright{
    padding: 15px 0;
    text-align: center;

    h6{
        color: $bg1;
        font-size: 16px;
        font-weight: 500;
    }
}
/*=========================================================
                    Copyright css end
=========================================================*/